/*#container {
	width: 500px;
	height: 500px;
	background: green;
	position: relative;
}
#box {
	width: 100px;
	height: 100px;
	background: red;
	position: absolute;
}*/

/*body{
	height: 2000px;
}*/
.p-0{
	padding: 0;
}

#container-fluid{
	width: 100%;
	height: 100%;
}
